.headerSection{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 22px;
  margin-top: 30px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 380px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Ubuntu', system-ui, sans-serif;
  color: #154d34;
  font-weight: normal;
  font-size:18px;
  position: fixed;
  z-index: 1000;
}
.mainContainer{
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(-45deg,#fad0c4, #b8f7e6,#f2f7a4, #fecdcf,#b8f7e6, #f8b8e6);
  background-size: 400% 400%;
  animation: moveGradient 10s ease infinite;
  font-family: sans-serif;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.navButton{
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

@font-face {
  font-family: 'acorn';
  src: url('./Components/acorn-7.ttf') format('truetype');
}


.heroText{
  line-height: 1;
  color: #154d34;
  font-family:'acorn', sans-serif;
  font-size: clamp(3rem, 9vw, 9rem);
  margin: 0;
  font-weight: bolder;
}

.aboutDiv{
  animation: fadeIn 1.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(20px);
  }
}
.headingTwo{
  color: #154d34;
  margin-top: 50px;
  line-height: 1.75;
  font-family: "Ubuntu",sans-serif;
  font-size: clamp(1rem, 8vw, 1.25rem);
  width: 55vw;
  text-align: center;
}

.platCard{
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.profileBtn{
  font-size: clamp(1rem, 8vw, 1.25rem);
  font-family: "Ubuntu",sans-serif;
  color: white;
  border-radius: 22px;
  margin: 0;
  border: none;
  width: 220px;
  height: 50px;
  background-color: rgb(2, 73, 73, 0.7);
  transition: all 0.3s ease;
}

.profileBtn:hover{
  background-color: rgb(21, 77, 52, 0.9);
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.titleDiv{
  height: 50vh;
  width: 30%;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(255, 255, 255,0.5);
}

.titCardDiv:hover{
  box-shadow: 0 10px 25px rgba(112, 112, 112, 0.4); 
  background: linear-gradient(120deg, hsla(166, 54%, 45%, 0.9), hsla(172, 95%, 18%, 0.9),hsla(172, 95%, 18%, 0.9));
}

.titCardDiv{
  width:30vw;
  height: 15vh;
  background-color: hsla(172, 95%, 18%, 0.9);
  align-self: flex-start;
  margin: 50px 0 50px 0;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  transform-origin: left center;
}
.skillCard{
  height: 300px;
  width: 300px;
  background-color: rgb(255, 255, 255,0.5);
  color: hsla(171, 15%, 35%, 1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease;

}
.skillCard:hover{
  background-color: rgba(255, 255, 255, 0.195);
  color:hsla(172, 95%, 18%, 0.9);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  scale: 1.04;
}


.skillCard:hover .aniCard{
  transform-origin: left;
  animation: scaleBar 0.9s ease-out;
}

@keyframes scaleBar {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.contactCardDiv{
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.contactButton{
  width: 200px;
  height: 50px;
  background-color: rgb(2, 73, 73, 0.7);
  color: white;
  border-radius: 22px;
  border: none;
  font-family: "Ubuntu",sans-serif;
  font-size: clamp(1rem, 8vw, 1.25rem);
  transition: all 0.3s ease;
}
.contactButton:hover{
  background-color: rgb(21, 77, 52, 0.9);
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.contactDiv{
  width: 100vw;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255,0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 30px;
  animation: fadeIn 1.5s ease-out forwards;
  font-family: "Ubuntu",sans-serif;
  font-size: clamp(1rem, 8vw, 1.25rem); 
  margin-bottom: 100px;
}
  